name: Deploy To S3 And Invalidate Cloudfront

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4

      # - name: Repository 파일 출력하기
      #   run: ls

      - name: 프로젝트 빌드하기
        run: npm run build # 깃헙 액션에서도 npm 수행 가능

      - name: Debugging
        run: |
          ls 
          cd dist
          ls
